* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

html, body{
    height:600px;
    min-width:780px;
    margin:0;
    padding:0;
    font-size:100%;
  }

.main {
    display: flex;
    align-items: start;
    height: 85%;
}

.navbarItems{
  width: 32%;
  display: inline-block;
}
#userBlock{
    text-align: end;
}

#newNote{
  color:white
}


  

.sidebar{
    width: 30%;
  background-color: rgb(29, 29, 20);
  height: 100%;
  margin: 0px;
  display: inline-block;
  margin-right: 2px;
  

}

#code-list{
  height: 500px;
  overflow: auto;
}


.holder{
    width: 69%;
    height: 100%;
    background-color: red;
    display:inline-block;
}



.clickable-title{
  height: 40px;
  color:red;
}



#newNote{
  height: 45px;
}

#copyPage{
   display: none;
}

#deletePage{
 display: none;
}
#editPage{
  display: none;
 }


#title{

}

#code{
  height: 450px;
  font-size: 14px;
  color: #333;
  background-color: #f8f8f8; 
  border: 1px solid #ccc;
  padding: 10px; 
  box-sizing: border-box; 
  width: 100%;
  overflow-y: auto; 
}

